defaults
    timeout connect 0ms
    timeout server 0ms
    timeout client 0ms
    timeout tunnel 0ms

frontend http-in
    bind *:49158
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if HTTP

    acl is_disk path_beg /disk
    use_backend webdav if is_disk

    default_backend xpra

backend webdav
    mode http
    server http_server 127.0.0.1:49154

backend xpra
    mode tcp
    server tcp_server 127.0.0.1:49156
